* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

:root {
    --font-size-8: 0.5rem;
    --font-size-16: 1rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;
    --font-size-64: 4rem;
    --main-section-bg-color: #081B33;
    --font-weight-600: 600;
    --font-weight-400: 400;
    --font-color: #464748;
    --link-color: #3361B8;
    --rounded-sm: 4px;
    --color-primary-blue-500: #003AAD;
    --color-primary-blue-50: #E5EBF7;
}

html {
    font-size: 16px;
}

p {
    overflow-wrap: break-word;
}

/* TOP TITLE */
.headerTitleSection {
    padding: 1rem 4rem 1rem 2rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffff;
}

.journal-title {
    font-size: var(--font-size-24);
    font-weight: 600;
}

/* MAIN BLUE SECTION */
.main-wrapper {
    background: var(--main-section-bg-color);
    color: #fff;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 3fr 1fr;
}

/* LEFT BOX */
.left-box {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-24);
}

.blurbDesc {
    font-size: var(--font-size-16);
    line-height: 1.5;
    display: inline-block;
    font-weight: var(--font-weight-400);
}

#viewEditorsMainSection {
    text-decoration: underline;
}

.mainSectionValues {
    font-weight: var(--font-weight-400);
}

.line {
    margin: 0;
    font-size: var(--font-size-16);
    line-height: 1.8rem;
}

.simple-link {
    color: #fff;
    font-size: var(--font-size-16);
    text-decoration: underline;
    display: inline-block;
    padding: 0;
}

.btn-row {
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 45%;
}

.yellow-btn {
    background: #FDC82F;
    border: none;
    padding: 10px 20px;
    border-radius: 0.2rem;
    font-size: var(--font-size-16);
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
    color: #333333;
    transition: background-color 300ms ease-out;
    width: 100%;
}

.yellow-btn:hover {
    border-radius: var(--rounded-sm, 2px);
    background: #FFAD00;
    background: color(display-p3 1 0.6941 0.0824);
}

.outline-btn {
    background: transparent;
    border: 2px solid #f8c94d;
    color: #f8c94d;
    width: 100%;
    padding: 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    display: flex;
    /* Activates Flexbox layout for the button */
    align-items: center;
    /* Vertically centers items along the cross axis */
    justify-content: center;
}

.outline-btn:hover,
.relatedJournals:hover {
    border-radius: var(--rounded-sm, 2px);
    background: rgba(255, 250, 232, 0.20);
    background: color(display-p3 1 0.9804 0.9176 / 0.20);
}

.aim-scope {
    padding-right: 10px;
}

.editorName {
    color: var(--link-color);
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
}

.outline-btn img {
    margin-right: 5px;
}

.relatedJournalsParent {
    margin-left: 0;
    cursor: pointer;
}

.relatedElement option {
    background-color: #081B33;
}

#mainSectionHeader {
    font-weight: var(--font-weight-600);
}

.footerSection {
    padding: 1.5rem 1.5rem 0 2rem;
    background-color: #ffffff;
}

.aboutJournal {
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-24);
    color: var(--font-color);
}

.journalMetricsSubHead {
    font-size: 20px;
    font-weight: var(--font-weight-600);
    color: var(--font-color);
}

.metric {
    margin-top: var(--font-size-24);
    color: var(--font-color);
}

.viewAllLink {
    color: var(--link-color) !important;
}

.page-header h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 18px;
}

.metrics-header {
    display: grid;
    justify-content: space-between;
    margin-top: 12px;
    grid-template-columns: 1fr 1fr;
}

.link {
    font-size: 13px;
    text-decoration: underline;
    color: var(--link-color);
}

.masthead {
    margin-top: 40px;
}

.masthead h5 {
    font-size: 20px;
    font-weight: 600;
}

.currentIssuePub {
    margin-top: 8px;
    font-size: var(--font-size-16);
    font-weight: 400;
    display: block;
}

.indexed {
    margin-top: 40px;
}

.indexedHeader {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

.indexList {
    margin-top: 16px;
}

.aimsAndScope {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

.aimsAndScopeInfo {
    display: block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.includedTopics,
.notIncludedTopics {
    display: block;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}

.includedTopicsContainer,
.notIncludedTopicsContainer {
    padding-left: 24px;
    margin-top: 20px;
    color: #333333;
}

.includedTopicsContainer li,
.notIncludedTopicsContainer li {
    list-style-type: disc;
    margin-top: 10px;
    color: #333333;
}

.includedTopicsContainer li::marker,
.notIncludedTopicsContainer li::marker {
    font-size: 14px;
}

.infoForAuthors {
    background-color: #ffffff;
    color: #0039A6;
    border: 1.5px solid #0039A6;
    border-radius: 4px;
    padding: 10px;
    font-weight: 600;
    font-size: var(--font-size-16);
    margin-top: 10px;
    transition: background-color 300ms ease-out;
    cursor: pointer;
}


.infoForAuthors:hover {
    background: var(--color-primary-blue-50);
    background: var(--color-primary-blue-50, color(display-p3 0.902 0.9216 0.9647));
}


.indexList li {
    font-size: var(--font-size-16);
    font-weight: 400;
    margin-top: 5px;
}

.printAndWebEdition {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    display: block;
    margin-top: 8px;
}

.viewEditorsInSideBar {
    font-size: var(--font-size-16);
    font-weight: 500;
    display: block;
    margin-top: 24px;
}

.metrics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 4%;
}

.metric-value {
    font-size: 24px;
    font-weight: 700;
}

.metric-label {
    font-size: 13px;
    color: var(--font-color);
}

.metrics-note {
    margin-top: 10px;
    font-size: 12px;
    color: #5C5C5C;
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 28px;
    margin-top: 20px;
}

.sideCard h3 {
    font-size: 20px;
    margin-top: 0;
}

.sideCard h4 {
    font-size: 16px;
    font-weight: 400;
}


.sideCard ul {
    padding-left: 20px;
}

.btn {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 2px solid #0039A6;
    color: var(--accent);
    text-decoration: none;
}

.person {
    display: flex;
    column-gap: 16px;
    margin: 14px;
    align-items: center;
}

.personDetails {
    display: grid;
    row-gap: 4px;
}

.chefUnivName,
.chiefCountry,
.deputyUnivName,
.deputyCountry {
    font-size: var(--font-size-16);
    font-weight: 500;
    color: #333333;
}

.person img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.person-info {
    flex: 1;
}

.related {
    font-size: 14px;
    color: yellow;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 24px;
}

aside {
    padding-left: 15px;
}

.sideCard h3 {
    font-size: var(--fs-h3);
    margin-top: 0;
}

.sideCard h4 {
    font-size: var(--fs-h4);
    font-weight: 400;
}

h5 {
    font-size: var(--fs-h3);
    gap: 10;
    margin-bottom: 0px;
}

.sideCard ul {
    padding-left: 20px;
}

.mobileRespDimensions {
    text-align: end;
}





@media (max-width: 1280px) {

    .metrics-grid {
        column-gap: 0%;
    }
}

@media (min-width: 551px) and (max-width: 767px) {
    .headerTitleSection {
        padding: 1rem 4rem 1rem 2rem;
    }

    .main-wrapper {
        grid-template-columns: 60% 40%;
        padding: 1.5rem 1rem 1.5rem 2rem;
    }

    .relatedJournalsParent {
        margin-left: 0;
        grid-column: span 10;
    }

    .btn-row {
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 4px;
        max-width: 100%;
    }

    .alertsWrapper {
        margin-left: 10px;
    }

    .relatedJournals {
        text-align: left !important;
    }

    .footerSection {
        padding: 1.5rem 1rem 0 2rem;
    }

    .metrics-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .mobileRespDimensions {
        text-align: end;
    }

    .content-grid {
        grid-template-columns: 1fr;
    }

    .indexed {
        margin-bottom: 15px;
    }
}

@media (max-width: 550px) {
    .headerTitleSection {
        padding: 1rem 4rem 1rem 2rem;
    }

    .main-wrapper {
        grid-template-columns: 1fr;
        padding: 1rem 1.5rem 1.5rem 2rem;
    }

    .relatedJournalsParent {
        margin-left: 0;
        margin-top: 6px;
        text-align: center;
    }

    .relatedJournals {
        width: 100%;
        text-align: center;
    }

    .metrics-header {
        justify-content: flex-start;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .mobileRespDimensions {
        margin-top: 10px;
        text-align: start;
    }

    .footerSection {
        padding: 1.5rem 1.5rem 0 2rem;
    }

    .metrics-grid {
        grid-template-columns: 1fr 1fr;
    }

    .content-grid {
        grid-template-columns: 1fr;
    }

    .btn-row {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .alertsWrapper {
        margin-left: 0;
        margin-top: 6px;
    }

    .indexed {
        margin-bottom: 15px;
    }

    .right-box {
        margin-top: 10px;
    }
}


.custom-select {
    position: relative;
    width: 100%;
}

.relatedJournals {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #f8c94d;
    font-size: 16px;
    text-decoration: none;
    margin-left: auto;
    white-space: nowrap;
    background-color: transparent;
    padding: 8px 10px;
    border: none;
}

.relatedJournalsDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 35vh;
    overflow-y: scroll;
    border-radius: 8px;
}

.relatedJournalsDropdown li {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.relatedJournalsDropdown li a {
    color: #333333;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.relatedJournalsDropdown li:hover {
    background-color: #e7e7e7;
}

.custom-select.active .relatedJournalsDropdown {
    display: block;
}

.arrow {
    margin-left: 10px;
}