* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

:root {
    --font-size-8: 0.5rem;
    --font-size-16: 1rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;
    --font-size-64: 4rem;
    --main-section-bg-color: #081B33;
    --font-weight-600: 600;
    --font-weight-400: 400;
    --font-color: #464748;
    --link-color: #3361B8;
    --rounded-sm: 4px;
}

html {
    font-size: 16px;
}

p {
    overflow-wrap: break-word;
}

/* TOP TITLE */
.headerTitleSection {
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffff;
}

.journal-title {
    font-size: var(--font-size-24);
    font-weight: 600;
}

/* MAIN BLUE SECTION */
.main-wrapper {
    background: var(--main-section-bg-color);
    color: #fff;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 3fr 1fr;
}

/* LEFT BOX */
.left-box {
    width: 752px;
    display: flex;
    flex-direction: column;
    gap: var(--font-size-24);
}

.blurbDesc {
    font-size: var(--font-size-16);
    line-height: 1.5;
    display: inline-block;
    font-weight: var(--font-weight-400);
}

#viewEditorsMainSection {
    text-decoration: underline;
}

.mainSectionValues {
    font-weight: var(--font-weight-400);
}

.line {
    margin: 0;
    font-size: var(--font-size-16);
    line-height: 1.8rem;
}

.simple-link {
    color: #fff;
    font-size: var(--font-size-16);
    text-decoration: underline;
    display: inline-block;
    padding: 0;
}

.btn-row {
    width: 502px;
    height: 36px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.yellow-btn {
    background: #FDC82F;
    border: none;
    padding: 10px 20px;
    border-radius: 0.2rem;
    font-size: var(--font-size-16);
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
    color: #333333;
    transition: background-color 300ms ease-out
}

.yellow-btn:hover {
    border-radius: var(--rounded-sm, 2px);
    background: #FFAD00;
    background: color(display-p3 1 0.6941 0.0824);
}

.outline-btn {
    background: transparent;
    border: 2px solid #f8c94d;
    color: #f8c94d;
    padding: 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    display: flex;
    /* Activates Flexbox layout for the button */
    align-items: center;
    /* Vertically centers items along the cross axis */
    justify-content: center;
}

.outline-btn:hover, .relatedJournals:hover {
    border-radius: var(--rounded-sm, 2px);
    background: rgba(255, 250, 232, 0.20);
    background: color(display-p3 1 0.9804 0.9176 / 0.20);
}

.aim-scope{
    padding-right: 10px;
}

.editorName{
    color: var(--link-color);
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
}

.outline-btn img {
    margin-right: 5px;
}

.relatedJournalsParent {
    margin-left: 10px;
    cursor: pointer;
}

.relatedJournals {
    color: #f8c94d;
    font-size: 16px;
    text-decoration: none;
    margin-left: auto;
    white-space: nowrap;
    background-color: transparent;
    padding: 8px 10px;
    border: none;
}

.relatedElement option {
    background-color: #081B33;
}

#mainSectionHeader {
    font-weight: var(--font-weight-600);
}

.footerSection {
    padding: 1.5rem 1.5rem 0 4rem;
    background-color: #ffffff;
}

.aboutJournal {
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-24);
    color: var(--font-color);
}

.journalMetricsSubHead {
    font-size: 20px;
    font-weight: var(--font-weight-600);
    color: var(--font-color);
}

.metric {
    margin-top: var(--font-size-24);
    color: var(--font-color);
}

.viewAllLink {
    color: var(--link-color) !important;
}

































.page-header h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 18px;
}

.metrics-header {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.link {
    font-size: 13px;
    text-decoration: underline;
    color: var(--link-color);
}

.masthead{
    margin-top: 40px;
}

.masthead h5{
    font-size: 20px;
    font-weight: 600;
}

.currentIssuePub{
    margin-top: 8px;
    font-size: var(--font-size-16);
    font-weight: 400;
    display: block;
}

.indexed{
    margin-top: 40px;
}

.indexedHeader{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

.indexList{
    margin-top: 16px;
}

.infoForAuthors{
    background-color: #ffffff;
    color: #0039A6;
    border: 1px solid #0039A6;
    border-radius: 4px;
    padding: 10px;
    font-weight: 500;
    font-size: var(--font-size-16);
}

.indexList li{
        font-size: var(--font-size-16);
    font-weight: 400;
    margin-top: 5px;
}

.printAndWebEdition{
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    display: block;
    margin-top: 8px;
}

.viewEditorsInSideBar{
    font-size: var(--font-size-16);
    font-weight: 500;
    display: block;
    margin-top: 24px;
}

.metrics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 4%;
}

.metric-value {
    font-size: 24px;
    font-weight: 700;
}

.metric-label {
    font-size: 13px;
    color: var(--font-color);
}

.metrics-note {
    margin-top: 10px;
    font-size: 12px;
    color: #5C5C5C;
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 28px;
    margin-top: 20px;
}

.sideCard h3 {
    font-size: 20px;
    margin-top: 0;
}

.sideCard h4 {
    font-size: 16px;
    font-weight: 400;
}


.sideCard ul {
    padding-left: 20px;
}

.btn {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 2px solid #0039A6;
    color: var(--accent);
    text-decoration: none;
}

.person {
    display: flex;
    column-gap: 16px;
    margin: 14px;
    align-items: center;
}

.personDetails{
    display: grid;
    row-gap: 4px;
}

.chefUnivName, .chiefCountry, .deputyUnivName, .deputyCountry{
    font-size: var(--font-size-16);
    font-weight: 500;
    color: #333333;
}

.person img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.person-info {
    flex: 1;
}

.related {
    font-size: 14px;
    color: yellow;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 24px;
}

aside {
    padding-left: 15px;
}

.sideCard h3 {
    font-size: var(--fs-h3);
    margin-top: 0;
}

.sideCard h4 {
    font-size: var(--fs-h4);
    font-weight: 400;
}

h5 {
    font-size: var(--fs-h3);
    gap: 10;
    margin-bottom: 0px;
}

.sideCard ul {
    padding-left: 20px;
}



































/* RESPONSIVE */
@media (max-width: 900px) {

    .left-box,
    .right-box {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1280px) {

    .metrics-grid {
        column-gap: 0%;
    }
}


@media (max-width: 600px) {
    .main-wrapper {
        grid-template-columns: 1fr;
    }
}